@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

.full-page
  display flex
  justify-content center
  align-items center
  width 100vw
  height 100vh
  flex-wrap wrap

.content
  width 400px

.btn
  margin 10px
